<div class="
            custom-module neto-images
            mt-{{ module.margin_top.columns.spacing }} 
            mb-{{ module.margin_bottom.columns.spacing }}
            {{ module.advanced.class }}
        ">
    {% if module.images %}
        {% set maxWidthStyle = module.style.image_max_width ? 'style="max-width:' ~ module.style.image_max_width ~ 'px;"' : '' %}

        {% if module.images|length > 1 %}
            <ul class="flex flex-wrap justify-center">
                {% for image in module.images %}
                    <li class="px-2 mb-2 w-full md:w-1/{{ module.images_per_row }} flex items-center justify-{{ module.image_alignment }}">
                        <img
                            src="{{ image.src }}"
                            alt="{{ image.alt_text }}"
                            loading="lazy"
                            {{ maxWidthStyle }}
                            class="block"
                        />
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% for image in module.images %}
                <div class="flex items-center justify-{{ module.image_alignment }}">
                    <img
                        src="{{ image.src }}"
                        alt="{{ image.alt_text }}"
                        loading="lazy"
                        {{ maxWidthStyle }}
                    />
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>