{% set count = module.ctas|length %}
{% set alignClass = module.center_horizontally ? 'justify-center' : 'justify-start' %}

<div class="
            custom-module neto-ctas
            flex gap-1
            {{ alignClass }}
            mt-{{ module.margin_top.columns.spacing }} 
            mb-{{ module.margin_bottom.columns.spacing }}            
        ">
    {% if module.ctas %} 
        {% for cta in module.ctas %}
            {% set target = cta.new_window ? '_blank' : '_self' %}
            {% set styleClass = 'btn btn--' ~ cta.color %}

            {% if cta.style == 'text' %}
                {% set styleClass = 'hover:underline text--withArrow text-' ~ cta.color %}
            {% endif %}

            <div>
                <a href="{{ cta.url }}" class="{{ styleClass }}" target="{{ target }}">
                    {{ cta.text }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>