  .heading--huge {
    @apply font-montserrat;
    @apply font-medium;
    
    font-size: 2rem;
    line-height: 1.1;

    @screen md {
      font-size: 3rem;
    }
  }
  .heading--large {
    @apply font-montserrat;
    @apply font-medium;
    @apply leading-tight;
    font-size: 1.5rem;

    @screen md {
      font-size: 2rem;
    }
  }
  .heading--medium {
    @apply font-montserrat;
    @apply font-medium;
    @apply leading-tight;
    font-size: 1.25rem;

    @screen md {
      font-size: 1.5rem;
    }
  }
  .heading--small {
    @apply font-montserrat;
    @apply font-semibold;
    @apply leading-tight;
    font-size: 1.15rem;
  }
  .heading--xsmall {
    @apply font-montserrat;
    @apply font-medium;
    @apply leading-tight;
    font-size: 1rem;
  }

.neto-richText { 
  @apply font-opensans;
  @apply font-normal;  

  h2 {    
    @apply heading--medium;
  }
  h3 {
    @apply heading--small;
  }
  h4 {
    @apply heading--xsmall;
  }

  ol {
    @apply ml-2 list-decimal;
  }
  ul {
    @apply ml-2 list-disc;
  }

  p + p,
  p + ol,
  p + ul,
  ul + ol,
  ol + ul {
    @apply mt-less;
  }

  li + li {
    @apply mt-half;
  }

  h1, h2, h3, h4 {
    & + p {
      @apply mt-half;
    }
    & + ol,
    & + ul {
      @apply mt-less;
    }
    & + h1,
    & + h2, 
    & + h3,
    & + h4 {
      @apply mt-1;
    }
  }
  p, ul, ol, div, img {
    & + h1,
    & + h2, 
    & + h3,
    & + h4 {
      @apply mt-more;
    }
  }

  a {
    @apply text-blue;

    &:hover {
      @apply underline;
    }
  }

  table {
    @apply bg-transparent;
    @apply border-collapse;
  }
}