<!--
  templateType: global_partial
  label: Website header
-->
{% from "../../macros/images.html" import neto_logo %}
{% from "../../macros/images.html" import chevron_down %}

{% set menu = menu(176969438996) %}

<div class="lg:h-4 lg:mt-half w-full"></div>
<header class="lg:hidden bg-white">
    <div class="container py-1">
        <div class="flex justify-between items-center">
            <a href="/" class="fill-blue block logo mr-2 w-6">
                {{ neto_logo() }}
            </a>
            <div class="text-2xl text-gray-dark" data-toggle="mobile-menu">
                <i class="far fa-bars"></i>
            </div>
        </div>
        <nav id="mobile-menu" class="hidden">
             <ul class="w-full">
                {% for child in menu.children %}
                    {% set slug = child.label|lower|replace(' ','-') ~ '-menu' %}

                    <li class="font-medium text-gray-dark {{ loop.last ? '' : 'border-b border-gray-dark border-opacity-20' }}">
                        <div class="flex justify-between p-quarter py-less font-bold" data-toggle="{{ slug }}">
                            {% if child.url %}
                                <a href="{{ child.url }}">
                            {% endif %}
                                    {{ child.label }}  <span class="inline-block  text-sm">{{ child.children ? chevron_down() : '' }}</span>
                            {% if child.url %}
                                </a>
                            {% endif %}
                        </div>
                        {% if child.children %}
                            <ul class="hidden text-left pl-1" id="{{ slug }}">
                                {% for grandchild in child.children %}
                                    <li class="text-sm">
                                        <div class="font-bold p-quarter">
                                            {{ grandchild.label }}
                                        </div>
                                        <ul class="font-normal pl-1">
                                            {% for greatgrandchild in grandchild.children %}
                                                <li>
                                                    <a 
                                                        class="whitespace-nowrap block p-quarter {{ loop.last ? 'pb-less' : '' }}"
                                                        href="{{ greatgrandchild.url }}" 
                                                        target="{{ greatgrandchild.linkTarget ? '_blank' : '_self'}}"
                                                    >
                                                        {{ greatgrandchild.label }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </nav>
    </div>    
</header>
<header class="header bg-white w-full fixed top-0 left-0 z-40  hidden lg:block" id="large-header">
  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

    <a href="#main-content" class="header__skip hidden">Skip to content</a>

  {# Main header #}

    <div class="container text-center py-1 font-monserrat">
        <div class="flex items-center">
            <a href="/" class="fill-blue block logo mr-2">
                {{ neto_logo() }}
            </a>
            <div class="w-full flex justify-end items-center">
                <nav class="w-full">                    
                    <ul class="w-full flex justify-end pr-3 gap-2">
                        {% for child in menu.children %}
                            <li class="relative font-medium text-gray-dark group">
                                <div class="cursor-default">
                                    {% if child.url %}
                                        <a href="{{ child.url }}">
                                    {% endif %}
                                        {{ child.label }}  <span class="inline-block pl-quarter text-sm">{{ child.children ? chevron_down() : '' }}</span>
                                    {% if child.url %}
                                        </a>
                                    {% endif %}
                                </div>
                                {% if child.children %}
                                    <ul class="hidden group-hover:flex absolute rounded p-more text-left bg-white shadow nowrap gap-3 {{ loop.index > 3 ? '-right-8' : '-left-more' }}">
                                        {% for grandchild in child.children %}
                                            <li class="text-sm menu-column">
                                                <div class="font-bold mb-half">
                                                    {{ grandchild.label }}
                                                </div>
                                                <ul class="font-normal">
                                                    {% for greatgrandchild in grandchild.children %}
                                                        <li class="{{ loop.first ? '' : 'mt-half' }} ">
                                                            <a 
                                                                class="hover:text-blue whitespace-nowrap block"
                                                                href="{{ greatgrandchild.url }}" 
                                                                target="{{ greatgrandchild.linkTarget ? '_blank' : '_self'}}"
                                                            >
                                                                {{ greatgrandchild.label }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <ul class="flex gap-2 items-center">
                    <li>
                        <a href="#" class="hover:cursor-pointer hover:text-blue whitespace-nowrap">
                            Login
                        </a>
                    </li>
                    <li>
                        <a class="btn btn--blue px-1 py-half whitespace-nowrap">
                            Book a demo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script>
    window.onscroll = function() {
      const scrollPosition = window.scrollY || document.documentElement.scrollTop;
      const totalHeight = document.documentElement.scrollHeight - window.innerHeight;
      const scrollPercentage = (scrollPosition / totalHeight) * 100;
      const header = document.querySelector('#large-header');

      if (scrollPercentage > 3) {
        header.classList.add('shadow');
      } else {
        header.classList.remove('shadow');
      }
    };

    document.addEventListener('DOMContentLoaded', () => {
        // Select all elements with the data-toggle attribute
        const toggleElements = document.querySelectorAll('[data-toggle]');
        
        toggleElements.forEach(element => {
            element.addEventListener('click', () => {
                // Get the target ID from data-toggle attribute
                const targetId = element.getAttribute('data-toggle');
                // Find the target element by ID
                const targetElement = document.getElementById(targetId);
                
                if (targetElement) {
                    // Toggle the 'hidden' class
                    targetElement.classList.toggle('hidden');
                } else {
                    console.warn(`Element with ID "${targetId}" not found.`);
                }
            });
        });
    });
</script>
