<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Add-on page
  screenshotPath: ../screenshots/add-on-preview.png
-->
{% extends "./layouts/base.html" %}

<div class="add-on-page">
    {% block body %}
        <section class="bg-gray-light bg-opacity-10 bg-maropost-gradient">
            <div class="container py-2 md:py-4">
                <div class="flex flex-wrap items-center">
                    <div class="order-2 md:order-1 w-full md:w-1/2 neto-heading">
                        <h1 class="heading--huge">{{ content.title}}</h1>
                        <h2 class="heading--small opacity-50" data-neto-editable>
                            {% text "author_text", label="Author", value="by [author name]" %}
                        </h2>
                        <div class="mt-2 neto-richText" data-neto-editable>
                            {% rich_text "hero_rich_text", label="Hero Text" %}
                        </div>                    
                    </div>
                    <div class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-1/2 md:px-4">
                        {% if content.featured_image %}
                            <img src="{{ content.featured_image }}" alt="{{ content.title }}" class="shadow-md max-w-sm">
                        {% endif %}
                    </div>
                </div>            
            </div>
        </section>
        <section>
            <div class="container pt-1 pb-2 flex flex-wrap items-start">
                <article class="order-2 md:order-1 w-full md:w-3/4 md:pr-6">
                    <ul class="flex justify-start py-1 pb-2">
                        <li>
                            <a href="/add-ons">Add-ons</a><span class="inline-block mx-half"> / </span>
                        </li>
                        <li class="opacity-50">
                            {{ content.title }}
                        </li>
                    </ul>
                    <div class="neto-richText" data-neto-editable>
                        {% rich_text "body_rich_text", label="Body Text", value="<p>Rich text content</p>" %}
                    </div>
                    <div class="hidden neto-richText" data-neto-editable>
                        {{ content.post_body }}
                    </div>
                </article>
                <aside class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-1/4">
                    {% if content.tag_list %}
                        <ul class="flex gap-1 text-sm font-medium py-2 pb-1">
                          {% for tag in content.tag_list %}
                            <li>
                                <span class="px-half py-fourth bg-gray bg-opacity-10 border border-gray-light rounded-md text-gray-dark">
                                    {{ tag.name|escape_html }}
                                </span>
                            </li>
                          {% endfor %}
                        </ul>
                    {% else %}
                        <div class="pt-5 "></div>
                    {% endif %}
                    <div class="neto-richText" data-neto-editable>
                        {% rich_text "sidebar_rich_text", label="Sidebar Text" %}
                    </div>
                </aside>
            </div>  
        </section>
    {% endblock body %}
</div>