<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Post
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}
{% from "../macros/social.html" import social_sharing %}

{% block body %}
    <section class="bg-maropost-gradient bg-opacity-10">
        <div class="container py-2 md:py-4">
            <div class="flex flex-wrap items-center">
                <div class="order-2 md:order-1 w-full md:w-3/5 neto-heading md:pr-4">
                    <h1 class="heading--huge">{{ content.title}}</h1>
                    <time datetime="{{ content.publish_date|escape_attr }}" class="block mt-1 heading--small opacity-50">
                        {{ content.publish_date|format_datetime('dd MMM YYYY') }}
                    </time> 
                </div>
                <div class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-2/5">
                    <div class="shadow-md " data-neto-editable>
                        {% image 'hero_image', src="https://placehold.co/600x300", style="aspect-ratio: 1/0.5;" %}
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <section>
        <div class="container pt-1 pb-2 md:mb-4 flex flex-wrap items-start">
            <article class="order-2 md:order-1 w-full md:w-3/4 md:pr-2 lg:pr-6">
                <div class="neto-richText hidden" data-neto-editable data-neto-meta>
                    {% rich_text "body_rich_text", label="Body Text", value="don't use this one!" %}
                </div>
                <div class="neto-richText" data-neto-editable>
                    {{ content.post_body }}
                </div>
            </article>
            <aside class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-1/4">
                {{ social_sharing() }}

                <div class="mt-2">
                    {% set blog_posts = blog_recent_posts("176807219287", 4) %}
                    <div>
                        <h4 class="heading--small">Related Blog Posts</h4>
                        <div class="" data-neto-editable>
                            {% module "related_pages", module_id="180730034237" %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <h4 class="heading--small">Latest Blog Posts</h2>
                        <ul class="mt-less " data-neto-editable>
                            {% for post in blog_posts %}
                                {% if post.id != content.id  %}
                                    {% set blog = content_by_id(post.id) %}
                                    
                                    <li class="{{ loop.first ? 'mt-more' : 'mt-1'}}">                    
                                        <a href="{{ post.absolute_url }}" class="flex hover:text-blue">
                                            <div class="w-1/4" >
                                                {% set imageSrc = blog.widgets.hero_image.body.src|default(false) %}
                                                {% if imageSrc %}
                                                    <div style="background-image:url({{ imageSrc }})" class="w-full h-full bg-cover bg-center">
                                                    </div>
                                                {% endif %}
                                            </div>                                        
                                            <div class="heading--xsmall w-3/4 pl-1">
                                                {{ post.name }}
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </aside>
        </div>  
    </section>
{% endblock body %}
