<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Themes Listing
  screenshotPath: ../images/template-previews/blog-index.png
-->

{% extends "./layouts/base.html" %}
{% from "../macros/tags.html" import tag %}

{% block body %}
    <section>
        <div class="container py-2 md:py-4">
            <div class="w-full md:w-1/2">
                <h1 class="heading--huge" data-neto-editable>
                    {% text "hero_heading", label="Hero Heading", value="[Hero Section Heading]" %}
                </h1>
                <div class="mt-1" data-neto-editable>
                    {% text "hero_text", label="Hero Text", value="[Hero section text goes here]" %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-2">
            {% set blog_posts = blog_recent_posts("default", 100, "published_at", "DESC") %}

            {% if blog_posts %}
                <ul class="grid grid-cols-1 gap-1 md:gap-2 items-stretch md:grid-cols-2">
                    {% for post in blog_posts %}
                        <li>
                            <a href="{{ post.absolute_url }}" class="group block bg-white p-2 h-full shadow rounded-md border border-gray-light border-opacity-30 hover:border-opacity-50 hover:shadow-lg">
                                <h2 class="heading--medium transition-colors group-hover:text-blue">
                                    {{ post.name }}
                                </h2>
                                <div class="flex">
                                    <div class="w-3/4 pr-2 text-sm">
                                        <div class="mt-half">
                                            {{ post.widgets.summary.body.value }}
                                        </div>
                                        <div class="mt-1 flex gap-half text-xs">
                                            {% for tag in post.tag_list %}
                                                {{ tag(tag) }}
                                            {% endfor %}
                                        </div>
                                    </div>                                    
                                    <div class="w-1/4 mt-half">
                                        <img src="{{ post.featured_image }}" alt="{{ post.name }}" class="shadow-md">
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No blog posts found.</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container py-2">

        </div>
    </section>
 
{% endblock %}
