<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Theme page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
    <div class="bg-maropost-gradient">
        <section class="bg-opacity-10">
            <div class="container py-2 md:py-4">
                <div class="flex flex-wrap items-center">
                    <div class="order-2 md:order-1 w-full md:w-1/2 neto-heading">
                        <h1 class="heading--huge">{{ content.title}}</h1>
                        <h2 class="mt-half heading--medium text-blue font-semibold" data-neto-editable>
                            {% text "price", label="Price", value="FREE" %}
                        </h2>
                        <div class="mt-2 neto-richText" data-neto-editable>
                            {% text "summary", label="Hero Summary", value="[Summary goes here]" %}
                        </div>          
                        <div class="flex gap-2 items-center mt-2">
                            <a class="btn btn--blue">
                                Install theme
                            </a>
                            <a href="{{ content.widgets.demo_url.body.value }}" class="text-gray hover:underline hover:text-blue" target="_blank">
                                View demo <i class="fas fa-external-link"></i>
                            </a>
                        </div>   
                        <div data-neto-editable data-neto-meta class="w-full">
                            View demo CTA URL: <br>
                            {% text "demo_url", label="Demo URL", value="https://netohq.com/[URL to demo]" %}
                        </div>       
                    </div>
                    <div class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-1/2 md:pl-4">
                        {% if content.featured_image %}
                            <img src="{{ content.featured_image }}" alt="{{ content.title }}" class="shadow-md max-w-sm">
                        {% endif %}
                    </div>
                </div>            
            </div>
        </section>
        <section>
            <div class="container pt-1 pb-2 md:mb-4 flex flex-wrap items-start">
                <article class="order-2 md:order-1 w-full md:w-1/2 md:pr-6">
                    <ul class="flex justify-start py-1 pb-3">
                        <li>
                            <a href="/themes">Theme Store</a><span class="inline-block mx-half"> / </span>
                        </li>
                        <li class="opacity-50">
                            {{ content.title }}
                        </li>
                    </ul>
                    <div class="neto-richText" data-neto-editable>
                        {{ content.post_body }}
                    </div>
                </article>
                <aside class="order-1 md:order-2 mb-2 md:mb-0 w-full md:w-1/2 md:mt-5 md:pt-half">
                    <div class="neto-richText">
                        {% rich_text "sidebar_rich_text", label="Sidebar Text" %}
                    </div>
                </aside>
            </div>  
        </section>
    </div>
    <section class="bg-gray-light bg-opacity-10">
        <div class="container py-2 md:py-4">
            <h2 class="heading--medium">
                All themes in the theme store include
            </h2>
            <ul class="flex flex-wrap mt-2">
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Search engine optimisation</li>
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Secure checkout and payment options</li>
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Theme editor capability</li>
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Optimised for Chrome, Firefox, Safari, IE 10+</li>
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Mobile-friendly design</li>
                <li class="w-full md:w-1/3"><i class="far fa-check text-blue mb-half mr-[4px]"></i>Free theme updates</li>
            </ul>
        </div>
    </section>
{% endblock body %}
